---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const blogPosts = (await getCollection('blog'))
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<Layout>
  <section class="max-w-7xl mx-auto px-6 pb-12">
    <div class="flex justify-center">
      <h1 class="projects-title">Blog</h1>
    </div>

      {blogPosts.map((post) => {
        const { slug, data } = post;
        const tags = data.tags;
        return (
          <div class="blog-card">
            
            <div class="blog-card-image-wrapper">
              <img 
                src={`/${data.img}`} 
                alt={data.title} 
                class="blog-card-image" 
              />
            </div>

            <div class="blog-card-content">
              <h2 class="blog-card-title">
                {data.title}
              </h2>

              <p class="blog-card-description">
                {data.description}
              </p>
              
              <div class="blog-card-tags-container">
                {tags?.map((tag) => {
                  return(
                    <p class="blog-card-tag">{tag}</p>
                  )
                })}
              </div>
              
              <p class="blog-card-date">{data.date.toLocaleDateString()}</p>

              <a href={`/post/${slug}`} class="blog-card-link"> 
                  Leer más <span class="text-lg inline-block translate-y-[1px]">→</span>
              </a>
              
            </div>
          </div>
        );
      })}
  </section>
</Layout>