---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const projects = (await getCollection('projects'))
  .sort((a, b) => a.data.order - b.data.order);
---

<Layout>

  <!-- projects -->
  <section id="projects" class="max-w-7xl mx-auto px-6">
    <h1 class="box-general-title text-center text-[#f0ece9]">
      Proyectos
    </h1>

    <div class="grid-cards">
      {projects.map((project) => {
        const { slug, data } = project;
        const { title, img } = data;

        return (
          <a href={`/project/${slug}`} class="card">
            <h2 class="card-title" transition:name={`titulo-${slug}`}>{title}</h2>
            <div class="w-full h-40 flex items-center justify-center overflow-hidden">
              <img src={`/${img}`} alt={title} class="card-image" transition:name={`img-${slug}`} />
            </div>
          </a>
        );
      })}
    </div>
  </section>
</Layout>